/* meyers reset
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.heading {
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(69, 171, 202);
  font-size: 2rem;
}
.card {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  font-size: 1.2rem;
}
.every {
  display: flex;
  gap: 3vh;
  width: 10vw;
  text-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgb(67, 127, 180);
  padding: 6vw 8vw 6vw 8vw;
  border-radius: 15px;
}
.every:hover {
  border-radius: 25px;
  position: relative;
  top: -4px;
  box-shadow: 6px 5px 4px 6px rgb(223, 31, 31);
}
.descrip {
  display: flex;
  flex-wrap: wrap;
}
.card div span {
  font-size: 1.2rem;
}
body {
  background: linear-gradient(to left, rgb(231, 82, 82), rgb(230, 26, 196));
}
.hidden {
  /* display: none; */
}
.input {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4vh;
  font-size: 1.4rem;
  height: 5vh;
}
.label,
#data {
  width: 20vw;
}
#data {
  border: 0.2rem solid black;
  background-color: rgb(255, 194, 194);
  color: black;
}
button.sub {
  height: 10vh;
  margin-top: 3vh;
  background-color: rgb(49, 214, 214);
  border: 2px solid rgb(240, 206, 17);
  color: aliceblue;
}
button.sub:hover {
  position: relative;
  top: -2px;
  color: white;
  box-shadow: 3px 3px 6px 4px rgb(64, 64, 255);
}
